.DS_Store
.DS_Store
build/CMakeCache.txt
build/.cmake/api/v1/reply/cache-v2-b243d2b4fd333e229693.json
build/.cmake/api/v1/reply/cache-v2-fa776f5f05b96e5270ba.json
build/.cmake/api/v1/reply/index-2023-01-22T09-43-39-0055.json
build/.cmake/api/v1/reply/index-2023-01-22T12-29-05-0261.json
build/beepmachine-firmware-v0.22.bin
build/beepmachine-firmware-v0.22.dis
build/beepmachine-firmware-v0.22.elf
build/beepmachine-firmware-v0.22.elf.map
build/beepmachine-firmware-v0.22.hex
build/beepmachine-firmware-v0.22.uf2
build/CMakeCache.txt
build/.cmake/api/v1/reply/cache-v2-ef4082920ddf3ee44e16.json
build/.cmake/api/v1/reply/index-2023-01-22T13-18-06-0721.json
build/CMakeFiles/beepmachine-firmware-v0.22.dir/hardware.cc.obj
build/CMakeFiles/beepmachine-firmware-v0.22.dir/main.cc.obj
build/CMakeFiles/beepmachine-firmware-v0.22.dir/synth/modulation.cc.obj
build/CMakeFiles/beepmachine-firmware-v0.22.dir/synth/synth.cc.obj
